<app-my-header [labName]="labName"></app-my-header>

<ion-content class="ion-padding">
  <h4>Знайдіть суму парних чисел на заданому проміжку чисел [a, b]. Потрібно вивести як самі числа так і результати обрахунку, якщо їх сума більша за 100.</h4>

  <ion-item>
    <ion-label position="floating">Початок діапазону (a)</ion-label>
    <ion-input type="number" [(ngModel)]="a"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Кінець діапазону (b)</ion-label>
    <ion-input type="number" [(ngModel)]="b"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="calculate()">Знайти суму чисел</ion-button>

  <ion-card *ngIf="errorMessage">
    <ion-card-content>{{ errorMessage }}</ion-card-content>
  </ion-card>

  <ion-card *ngIf="sum < 100">
    <ion-card-content>
      <p>Сума чисел: {{ sum }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="sum >= 100">
    <ion-card-content>
      <p>Числа: {{ evenNumbers.join(', ') }}</p>
      <p>Сума: {{ sum }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
