<app-my-header [labName]="labName"></app-my-header>

<ion-content>
  <h4>Згенерувати матрицю розміром NxN. Виокремити за допомогою кольору усі парні від’ємні елементи, якщо їх кількість непарна.</h4>

  <ion-item>
    <ion-label position="floating">Розмір матриці (N)</ion-label>
    <ion-input type="number" [(ngModel)]="n"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="generateMatrix()">Згенерувати</ion-button>

  <!-- creating matrix -->
  <div *ngIf="matrix.length" class="matrix-container">
    <table>
      <tr *ngFor="let row of matrix">
        <td *ngFor="let cell of row" 
            [ngStyle]="{'background-color': shouldHighlight(cell) ? '#0077b6' : '#2b2b2b'}">
          {{ cell }}
        </td>
      </tr>
    </table>
  </div>
</ion-content>
